{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 160,
  "plugins": [
    "@standard-config/prettier",
    "@prettier/plugin-xml",
    "prettier-plugin-yaml",
    "prettier-plugin-powershell",
    "prettier-plugin-toml"
  ],
  "xmlWhitespaceSensitivity": "ignore",
  "xmlQuoteAttributes": "double",
  "powershellIndentStyle": "spaces",
  "powershellIndentSize": 4,
  "powershellTrailingComma": "none",
  "powershellSortHashtableKeys": false,
  "powershellBlankLinesBetweenFunctions": 1,
  "powershellBlankLineAfterParam": true,
  "powershellBraceStyle": "1tbs",
  "powershellLineWidth": 120,
  "powershellPreferSingleQuote": false,
  "powershellKeywordCase": "preserve",
  "powershellRewriteAliases": false,
  "powershellRewriteWriteHost": false,
  "powershellPreset": "none",
  "alignEntries": true,
  "alignComments": true,
  "arrayAutoExpand": true,
  "arrayAutoCollapse": true,
  "compactArrays": true,
  "compactInlineTables": false,
  "compactEntries": false,
  "indentTables": false,
  "indentEntries": false,
  "reorderKeys": false,
  "allowedBlankLines": 1,
  "overrides": [
    {
      "files": [
        "*.props",
        "*.targets",
        "*.*proj"
      ],
      "options": {
        "parser": "xml"
      }
    }
  ]
}
